$bg: rgb(184, 255, 200);
$bgDark: rgb(4, 17, 7);
$bgLightDark: rgb(5, 54, 17);

$colorGreen: rgb(97, 255, 134);
$colorGreenDark: rgb(52, 137, 72);

$white: white;
$white70: rgba(white, 0.7);

$text: rgb(5, 54, 17);
$textDark: rgb(184, 255, 200);
