@use "@styles/vars/colors.scss" as c;

.btn {
  &:global(.MuiButton-root) {
    color: c.$white;
    border-color: c.$white;

    &:hover {
      color: c.$bg;
      border-color: c.$bg;
    }

    &:global(.Mui-disabled) {
      border-color: c.$white70;

      &:not(:global(.MuiLoadingButton-loading)) {
        color: c.$white70;
      }
    }

    & :global(.MuiCircularProgress-root) {
      color: c.$white70;
    }
  }
}
