@use "@styles/vars/colors.scss" as c;

.heading {
  color: c.$white;

  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 5rem;
  font-weight: 700;
}

@media (max-width: 480px) {
  .heading {
    font-size: 4rem;
  }
}
